.Info {
  display: flex;
  align-items: center;

  p {
    color: grey;
  }

  .Jacket {
    height: 200px;
    margin-right: 30px;
  }

  .Counter {
    font-weight: bold;
    font-size: 25px;
    margin: 0 200px;
  }

  .Value {
    margin: 20px;
  }

  .Add {
    font-weight: bold;
    font-size: 25px;
    margin: 0 200px;
  }

  .ValuePrice {
    font-weight: bold;
    font-size: 25px;
  }
}
